.App__header > h1 {
  font-weight: 300;
  font-size: 2em;
  color: #222;
}

.link-button {
  border: 0;
  background: 0;
  color: #1c5065;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}
.link-button:focus {
  outline: 0;
  text-decoration: underline;
}

.navigator-button {
  padding: 1em 0.5em;
  border: 2px solid transparent;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  width: 100%;
  align-items: center;
  text-transform: capitalize;
  text-align: left;
  line-height: 1.5em;
  cursor: pointer;
}

.Folder__button {
  justify-content: flex-start;
}

.Folder__button>svg {
  transform: rotate(0deg);
  transition: transform 0.3s;
  margin-right: 1em;
}
.Folder__button>svg.open {
  transform: rotate(-180deg);
}

.Folder__items {
  display: none;
  margin-left: 1em;
}
.Folder__items.open {
  display: block;
}

.Choice {
  justify-content: space-between;
}

.navigator-button:hover {
  background-color: #efefef;
}
.navigator-button:focus {
  outline: 0;
  border: 2px solid #1c5065;
}
.navigator-button>svg {
  flex: 0 0 auto;
}

main>nav>button {
  margin-right: 1em;
  display: inline-flex;
  align-items: center;
}
main>nav>button>svg {
  margin-right: 0.3em;
}

.print .no-print {
  display: none;
}